div{
    height:100px;
    width:100px;
     position: relative;
    background-color: red;
     /* animation-name: colorchange;
    animation-duration: 2s;
    animation-delay: 3s;
      animation-iteration-count: 3; 
     animation-direction: reverse; 
      animation-fill-mode: forwards; 
     animation-fill-mode: backwards; */
     /* short hand */
     animation:colorchange 3s linear 2s  3  reverse forwards;
}
.ease{
    animation-timing-function: ease;
}
.linear{
    animation-timing-function: linear;
}
.ease-in{
  animation-timing-function: ease-in;
}
.ease-in-out{
    animation-timing-function: ease-in-out;
}

@keyframes colorchange {
    0%{
        background-color: aqua;
        top:0px;
        left:0px;
    }
    25%{
        background-color: magenta;
        top:0px;
        left:200px;
    }
    50%{
        background-color: mediumseagreen;
        top:300px;
        left:200px;
    }
    75%{
        background-color: moccasin;
        left:0px;
        top:300px;
    }
    100%{
        background-color: black;
        top:0px;
        left:opx;
    }
}