div{
    padding:40px 5px 10px 20px;
    margin:10px;
    border:2px solid black;
    height:90px;
    width:200px;
    border-left-color: aqua;
    border-radius:9px ;
    
    text-align: center;
    margin-left:90px;

    }
