h1{
    font-weight:40;
    background-color: red;
    text-decoration:  line-through;
    text-decoration-color: #21ff21;
}
h2{
    font-weight:40;
    text-decoration:blue overline;
}
h3{
    font-weight: 40;
    background-color: mediumaquamarine;
    text-decoration:pink underline;
}
a{
    font-weight:40;
    text-decoration: wavy;
    text-decoration-color: #21ff21;
}
p{
    line-height: 2.5;
    letter-spacing: 5px;
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}