.line{
  height:500px;
  /* background-image: linear-gradient(red,yellow); */
    /* background-image:radial-gradient(circle,red,yellow,blue); */
     /* background-image:repeating-radial-gradient(circle,red 10%,yellow 20%,blue 15%);*/
     background-image: conic-gradient(red ,yellow,black)
} 