body{
    background-color: red;
}
div::after{
    content: "welcom to home";
    
}
div{
    text-align: center;
    font-size: x-large;
}
@media (max-width<=400px) {
   body{
    background-color: aquamarine;
   }
   div::after{
    content:"hello myself";
   }

}
@media(400px<=width<=700px){
    body{
        background-color: rgb(63, 63, 4);

    }
    div::after{
        content:"welcom my world home"
    }
}
    @media(min-width>=700px){
        body{
            background-color: blueviolet;
        }
        div::after{
            content:"welcom to delhi"
        }
    }

