 .box{
    height: 100px;
    width:100px;

 }
 .box1{
    background-color: red;
    position: relative;
    top:20px;
 }
 .box2{
    background-color: yellow;
    position: fixed;
    bottom: 0;
    right: 10px;
    border-radius: 50%;
 }
 .box3 {
    background-color:rgb(54, 54, 168);
    position: sticky;
    top:1px;
 }