.outer{
    height:200px;
    width:70px;
    border:3px solid black;
    border-radius:4px;

}
.inouter,.in,.out{
    height:50px;
    width:50px;
    border:2px solid black;
    margin:10px;
    background-color: red;
    border-radius:100%
}
.in{
    background-color: burlywood;
}
.out{
    background-color: chartreuse;
}

