.outer{
    color:mediumorchid;
    font-size:9px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 30;
    height:200px;
    width: 200px;
    background-color: aquamarine;
    padding-top:30px;

}
.outer:hover{
    background-color: blueviolet;
    color:aqua;
    font-weight: 200;
    padding:12em;
    transition: 2s;
    line-height: 10px;
    text-align: center;
    border-radius: 100%;
}
.outer::selection{
    background-color: black;
    color:aqua;
    font-size: medium;
}
input:focus{
    color:red;
    background-color: black;
    font-size:50px;
}
input:hover{
    background-color: aqua;
    border:2px solid red;
}
a:hover{
    text-decoration: wavy;
    color:pink;

}
a:active{
    color:rgb(14, 9, 1);
}
 a:visited{
    color: rgb(76, 6, 6);
} 
a:first-child{
    background-color: aquamarine;
}
a:nth-child(odd){
    background-color: cadetblue;
}

