div{
    height: 100px;
    width:100px;
    background-color: black;
    transition: width 2s,height 3s ,color 2s;
    transition-timing-function: ease-in;
    transition-delay: 2s;

}
div:hover{
    width:200px;
    height:500px;
    background-color: aquamarine;
    
}
